<!doctype html>
<html ng-app="myApp">

<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>

<body ng-controller="myController" ng-init="user = {color: '<%= color %>'}">
    <header id="header">
        <h3>Amerzon</h3>
        <a id="logoutLink" href="/logout">logout</a>
    </header>
    <div class="form-container">
        <p id="sectionTitle" class="form-header">User Profile</p>
        <form method="POST" action="/user/update">
            <label>Username:</label>
            <input type="text" id="username" name="username" ng-model="user.username"><br>
            <label>Email:</label>
            <input type="email" id="email" name="email" ng-model="user.email"><br>
            <label>Favorite Color:</label>
            <input type="text" id="color" name="color" ng-model="user.color" ng-change="updatePreview()"><br>
            <div class="circle" ng-style="{'background-color':user.color}"></div>
            <input type="submit" id="save" value="Save">
        </form>
    </div>
    <form method="POST" action="/user/delete">
        <input type="submit" id="delete" value="Delete User">
    </form>
    <hr>
    <span id="userMsg">
    <%= msg %>
    </span>
    <script src="https://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <a id="homeLink" href="/">Home</a>
</body>

</html>